---
layout: default
---

<div class="content">

    <h1 class="contentheader">
        {{ page.contentheader }}
    </h1>

    <div class="blocks-categorypage">

        {% assign items = site.wikipages | where: "category", page.category %}
        {% assign subgroups = items | group_by: "subcategory" %}
        {% assign category_order = site.data.affliction_categories | sort: "order" %}

        {% for category in category_order %}
            {% assign group = subgroups | where: "name", category.name | first %}

            {% if group %}

                <div class="block">

                    <h2>{{ group.name }}</h2>

                    {% for item in group.items %}
                        <a href="{{ item.url | relative_url }}">
                            <span>{{ item.title }}</span>

                            {% if item.inline_image %}
                                <img src="{{ item.inline_image | relative_url }}" alt="{{ item.title }}">
                            {% endif %}
                        </a>
                    {% endfor %}

                </div>

            {% endif %}
        {% endfor %}

    </div>

</div>