---
layout: default
---

<div class="container">
  <main>
    <div class="content">

      <section>

        <h1 class="contentheader">
          {{ page.contentheader | default: page.title }}

          {% if page.inline_image %}
            <img src="{{ page.inline_image | relative_url }}" alt="{{ page.title }}">
          {% endif %}
        </h1>

        {% assign blocks = page.blocks | default: "" %}

        {% if blocks != "" %}
          {% assign sorted_blocks = blocks | sort: "order" %}
        {% else %}
          {% assign sorted_blocks = "" %}
        {% endif %}

        <div class="blocks-contentpage">

          {% for block in sorted_blocks %}

            <section class="block-contentpage {{ block.type }}">

              {% if block.header %}
                <h2>{{ block.header }}</h2>
              {% endif %}

              <div class="block-contentpage-text">

                <!-- This automatically pulls from the links.yml file in _data to turn keywords into inline links, so you don't need to manually add those links every time -->
                {%- assign html = block.text | markdownify -%}

                {%- if site.data.links -%}
                  {%- for item in site.data.links -%}

                    {%- assign token = item[0] -%}
                    {%- assign url = item[1] -%}

                    {%- assign placeholder = token | prepend: "{{" | append: "}}" -%}

                    {%- capture link_html -%}
                      <a href="{{ url | relative_url }}">{{ token | replace: "_", " " | capitalize }}</a>
                    {%- endcapture -%}

                    {%- assign html = html | replace: placeholder, link_html -%}

                  {%- endfor -%}
                {%- endif -%}

                {{ html }}

              </div>

            </section>

          {% endfor %}

        </div>

      </section>

    </div>
  </main>
</div>