---
layout: default
---

<div class="content">
    
    <h1 class="contentheader">
        {{ page.contentheader }}
    </h1>

    {% if content %}
        <div class="homepage-top-block">
            {{ content }}
        </div>
    {% endif %}

    <div class="blocks-homepage">
        {% assign sorted_categories = site.data.categories | sort: "order" %}
        {% for cat in sorted_categories %}
            <div class="block">

                <h2>
                    <a href="{{ cat.slug | relative_url }}">
                        {{ cat.name }}
                    </a>
                </h2>

                {% if cat.description %}
                    <p>{{ cat.description }}</p>
                {% endif %}

            </div>
        {% endfor %}
    </div>
</div>